.book_specific_statistics_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.book_specific_header {
    color: #06AB78;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 600;
    margin-left: 14px;
    display: flex;
    align-items: left;
}

.book_specific_subheader {
    color: #454B54;
    font-family: "Martel Sans";
    font-size: 14px;
    font-weight: 600;
    margin-left: 14px;
}

.book_specific_graph {
    height: 240px;
    width: 70%;
    background-color: white;
    border-radius: 14px;
}

.book_specific_circle_graph {
    height: 240px;
    width: 20%;
    background-color: white;
    border-radius: 14px;
    margin-left: 40px;
}

.book_flex {
    display: flex;
    justify-content: left;
    align-items: center;
}

.milestone_container {
    height: 300px;
    width: 94.5%;
    background-color: white;
    border-radius: 14px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.milestone_real_container {
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.progress_bar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    position: relative;
}

.progress_bar {
    width: 580px;
    height: 16px;
    background-color: #EFEFEF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.progress_bar_filled {
    position: absolute;
    width: 0px;
    height: 16px;
    background-color: #06AB78;
    border-radius: 20px;
}

.rewards_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
}

.package, .mail, .present, .suitcase {
    cursor: pointer;
}

.package:hover, .mail:hover, .present:hover, .suitcase:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    filter: saturate(1);
}


.package {
    height: 60px;
    width: 60px;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.mail {
    height: 50px;
    width: 50px;
    display: block;
    transition: transform 0.3s ease-in-out;
    margin-top: 10px;
}

.suitcase {
    height: 70px;
    display: block; 
    transition: transform 0.3s ease-in-out;
    margin-top: -10px;
}

.present {
    height: 60px;
    display: block; 
    transition: transform 0.3s ease-in-out;

}

.percentage_read_text {
    color: #454B54;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tier_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: "Inter"
}

.tier_container {
    position: absolute;
    margin-left: 28px;
    top: 20px;
}

.tier_object {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.icon_holder {
    position: relative;
    margin-right: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unavail_tier {
    filter:saturate(0.6);
}

.note_text {
    position: absolute;
    bottom: 10px;
    right: 40px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.unclaimed_tier {
    animation: unclaimedTier 2s infinite ease-in-out;
}

@keyframes unclaimedTier {
    25%{
        transform: rotate(25deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}