html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.bookshelf_container {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    box-sizing: border-box;
}

.bookshelf_navBar {
    width: 100%;
    height: 71px;
    background-color: #06AB78;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.stats_navBar {
    width: 100%;
    height: 62px;
    background-color: #88D4AB;
    box-shadow: inset -10px 0 10px -10px #11723e;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 450;
}

.book_section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s ease-in-out;
}

.stats_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    width: 20%;
    height: 100%;
    padding-top: 2px;
    box-sizing: border-box;
    z-index: 10;
    position: relative;
    transition: width 0.3s ease-in-out;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.searchbar {
    height: 36px;
    width: 260px;
    border-radius: 8px;
    border-width: 0px;
    font-family: "Inter";
    padding-left: 30px;
    color: #059974;
    font-weight: 500;
    font-size: 16px;
}

.searchbar:hover {
    outline: 2px solid #88D4AB;
    transition: oultine-color 0.5s ease;
}

.searchbar:focus {
    outline: 4px solid #88D4AB;
    transition: outline-color 0.5s ease;
}

.searchbar::placeholder {
    color: #88D4AB;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
}

.search_icon {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
}

.sort_container {
    position: absolute;
    right: 20px;
    color: white;
    font-family: "Inter";
    display: flex;
    align-items: center;
    z-index: 1000;
}

.sort_button {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.questionMark_button {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.books_container{
   height: 100%;
   background-color: #F8F9FD;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 220px;
   overflow-y: auto;
   overflow-x: hidden;
   padding-left: 50px;
   position: relative;
}

.folder-tab {
    display: flex;
    align-items: center;
    margin-right: -36px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.folder-tab:hover {
    transform: translateY(-10px) translateX(6px);
    transition: transform 0.5s ease-in-out;
}

.tab_section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: -40px;
    margin-right: -10px;
    right: 52px;
}

.tabLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
}

.bookitem_container, .add_book {
    background-color: rgb(254, 254, 254);
    width: 380px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 30px 20px 30px;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    z-index: 0;
    backface-visibility: hidden;
    box-sizing: border-box;

}

.bookitem_container:hover, .add_book:hover {
    box-shadow: -12px -12px 3px #e0e0e0;
    transform: translateX(10px) translateY(10px);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.add_book_text {
    font-family: "Inter";
    color: #D9D9D9;
    font-size: 30px;
    margin-left: 16px;
}

.book_contents {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 50px;
}

.book_title {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    max-width: 240px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.book_author {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    color: gray;
    margin-top: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book_cover {
    display: flex;
    align-items: left;
    justify-content: left;
    user-select: none;
    position: relative;
    z-index: 2;
}

.book_cover > img {
    height: 148px;
    width: 94px;
    z-index: 2;
}

.book_rating {
    margin-top: 10px;

}

.book_options{
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    padding: 7px 5px 7px 5px;
    z-index: 1000;
    box-sizing: border-box;
    z-index: 1000;
}

.book_options:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.book_options_open {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;   
}

.book_options_closed {
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.book_options_dropdown_unactive, .book_options_dropdown_active {
    position: absolute;
    top: 30px;
    left: 0;
    user-select: none;
    background-color: white;
    box-shadow: 4px 4px 5px rgb(243, 243, 243);
    border-radius: 6px;
    color: #06AB78;
    display: flex;
    flex-direction: column;
    min-width:max-content;
    z-index: 1000;
}

.book_options_dropdown_unactive, .book_options_dropdown_active > div {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-weight: 500;
    font-family: "Inter";
    box-sizing: border-box;
}

.book_options_dropdown_active > div:hover {
    background-color: rgb(238, 238, 238);
    z-index: 1000;
}

.book_options_dropdown_unactive {
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.book_options_dropdown_active {
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
}

.option_delete_book {
    color: rgb(238, 119, 119);
    padding-bottom: 8px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.option_customize_book {
    padding-top: 8px;
    padding-bottom: 5px;
}

.option_move_book {
    padding-top: 5px;
    padding-bottom: 5px;
}

.book_page_count {
    position: absolute;
    right: 16px;
    bottom: 6px;
    font-family: "Inter";
    font-size: 12px;
    color: rgb(209, 209, 209);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.change_pages_input {
    width: 22px;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    border-style: solid;
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter";
    color: rgb(209, 209, 209);
    margin-right: 2px;
    margin-left: 4px;
}

.change_pages_input:focus {
    outline: 1px solid #88D4AB;
}

.dots_grid {
    margin-left: 20px;
    cursor: grab;
}

.segment {
    height: 16px;
    width: 2px;
    background-color: rgb(249, 255, 245);
    margin-left: 12px;
    margin-right: 12px;
}

.genre_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 12px;
    max-width: fit-content;
    padding: 5px 8px 5px 8px;
    margin-top: 14px;
}

.genre_circle {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background-color: green;
}

.genre_text {
    color: green;
    font-size: 12px;
    font-family: "Inter";
    margin-left: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.z-index {
    z-index: 1000;
}

.book_banner_right {
    position: absolute;
    right: -46px;
    bottom: 20px;
    z-index: 1;
}

.book_banner_right_img {
    width: 50px;
    transform: scale(1.25);
    z-index: 1;
}

.book_banner_top {
    position: absolute;
    right: 0;
    bottom: 8px;
}

.book_banner_top_img {
    width: 50px;
}

.overlay {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
}

.no_books_error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 130px;
}

.no_books_grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-right: 40px;
    margin-top: 50px;
    user-select: none;
}

.no_books_header {
    font-family: "Inter";
    color: #06AB78;
    font-size: 36px;
    font-weight: 600;
}

.no_books_subheader {
    font-family: "Inter";
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
}

.no_books_smallheader {
    font-family: "Inter";
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
}

.kitty_think {
    height: 250px;
}