html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.bookshelf_container {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 160px;
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
}

.bookshelf_navBar {
    width: 100%;
    height: 66px;
    background-color: #06AB78;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
}

.stats_navBar {
    width: 100%;
    height: 62px;
    background-color: #88D4AB;
    box-shadow: inset -10px 0 10px -10px #11723e;
}


.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchbar {
    height: 36px;
    width: 260px;
    border-radius: 5px;
    border-width: 0px;
    font-family: "Inter";
    padding-left: 30px;
    color: #059974;
    font-weight: 500;
}

.searchbar:hover {
    outline: 2px solid #88D4AB;
    transition: oultine-color 0.5s ease;
}

.searchbar:focus {
    outline: 4px solid #88D4AB;
    transition: outline-color 0.5s ease;
}

.search_icon {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
}

.sort_container {
    position: absolute;
    right: 20px;
    color: white;
    font-family: "Inter";
    display: flex;
    align-items: center;
}

.sort_button {
    display: flex;
    align-items: center;
    padding: 6px;
    margin-left: 6px;
}

.sort_button:hover {
    background-color: #059974;
    border-radius: 10px;
    cursor: pointer;
}

.questionMark_button {
    display: flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

.books_container{
   height: 100%;
}
